#content{
	position:relative;
	width:100%;
	height:80%;
	margin:1%;
	padding:1%;	
}
table {
  border-collapse: collapse;
}

th {
  font-weight: normal;
  text-align: left;
}

thead td {
  cursor: s-resize;
}

tbody tr:first-child td {
  padding-top: 1%;
}

tbody td {
  padding: 0;
  border-left: solid 1px #000;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 42px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

.text {
	font-size: 20px !important;
}

.chart-data {
	font-size: 16px;
}

.searchbutton{
	font-size: 40%  !important;
	width: 100px !important;
}

text {
  font: 8px sans-serif;
  font-size: 11px;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}
.searchbutton{
padding:1;
	margin:1;


}
.mysearch{
padding:1;
	margin:1;
}
.lines{
	padding:1%;
	margin:1%;
	background-color:silver;

}



.playText
{
	position: absolute;
    top: 0;
    left: 0;
	width:90%;
	height:90%; 
	float:left;
	padding: 2%;
	margin:2%;
}
.CharTimelines
{
	position: absolute;
    top: 0;
    left: 0;
	width:90%;
	height:90%; 
	float:left;
	padding: 2%;
	margin:2%;


}
.CharacterChart
{ 
	position: absolute;
    top: 0;
    left: 0;
	width:100%;
	height:100%; 


}
.Pie
{
position: absolute;
    top: 0;
    left: 0;
	width:90%;
	height:90%; 
	float:left;
	padding: 2%;
	margin:2%;


}
.Search
{
	width:30%;
	height:40%; 
	float:left;
	overflow:scroll;
	padding: 2%;
	margin:2%;
	border:1px solid black;
	background-color: #e2e2e2;

}
.mySearchDiv
{
	width:100%;
	height:100%; 
	padding: 10px;
	margin:10px;
	border:1px solid black;
	background-color: #e2e2e2;


}
.backdiv
{
	width:40%;
	height:40%; 
	overflow:scroll;
	padding: 1%;
	margin:1%;
	border:1px solid black;
	background-color: #e2e2e2;
	display:inline-block;
}


.ExpandBut{
	float: right;
    padding: 2px;
	height: 25px;
}
.selectAPlay{
	width: 250px;
	height: 70px;
	margin: 10px;
	font-size: 18px !important;
}

.selectData{
	width: 250px;
	height: 70px;
	margin: 10px;
	font-size: 18px !important;
}
.Go{
	width: 250px;
	height: 70px;
	margin: 10px;
	font-size: 18px !important;
}

.buttonDiv{
	position: relative;
	left: 50px;
	top: 50px;
	width: 20%;
	z-index:10;
}

.playDiv{
	position: absolute;
	left: 150px;
	top: 20%;
	height: 80%;
	width: 70%;
	overflow:scroll;
	font-size:8pt;
	background-color: #e2e2e2;
	border: 2px solid #e2e2e2;
	border-radius: 8px;
	opacity: 0;
	z-index:0;
}
.displayDiv{
	position: absolute;
	left: 150px;
	top: 10%;
	height: 80%;
	width: 80%;
	overflow:scroll;
	font-size:8pt;
	background-color: #e2e2e2;
	border: 2px solid #e2e2e2;
	border-radius: 8px;
	opacity: 0;
	z-index:0;
}

.ComedyButtons{
	position: relative;
	left: 25px;

	width:	30%;
	height: 80%;
	margin-right: 20px;

	display:inline-block;
	vertical-align:top;
}

.TragedyButtons{
	position: relative;

	width:30%;
	height: 80%;
	left: 40px;
	margin-left: 10px;
	margin-right: 10px;

	display:inline-block;
}

#tragediesCheck{
	position: relative;
	z-index: 20;
}

#historiesCheck{
	position: relative;
	z-index: 20;
}

.HistoryButtons{
	position: relative;
	left: 25px;

	float: right;
	width:30%;
	height: 80%;

	display:inline-block;

}



#Comedies{
	position: relative;
	font-weight: bold;
	left:-15px;
	top: 2px;

}

#Tragedies{
	position: relative;
	font-weight: bold;
	left:-15px;
	z-index:-1;
}

#Histories{
	position: relative;
	font-weight: bold;
	left:-15px;
	z-index:-1;
}


#comediesCheck{
	position: relative;
	left: -15px;
	top: -25px;

}
#tragediesCheck{
	position: relative;
	left: -15px;


}
#historiesCheck{
	position: relative;
	left: -15px;

}


.checkbox{
	position: relative;
	font-size:60%;
	top: -15px;
	left: 10px;
}

.playCheckbox{
	position: relative;
}
.comCheckbox{
	position: relative;
}
.tragCheckbox{
	position: relative;
}
.histCheckbox{
	position: relative;
}

#AllsWellThatEndsWell{
	position: relative;
	left: -14px;
}
.dataDiv{
	position: absolute;
	left: 150px;
	top: 0px;
	height: 15%;
	width: 70%;
	overflow:scroll;
	font-size:12pt;
	background-color: #e2e2e2;
	border: 2px solid #e2e2e2;
	border-radius: 8px;
	opacity: 0;
	z-index:0;
}
.dataCheck{
	padding:5;
	margin:5;
}
label.checkbox{
	line-height:90%;
	font-size: 12pt;
}
.data{
	padding:2%;
	margin:0;
	width: 20%;
	height: 30%;
	line-height:10%;
	display:inline-block;
	vertical-align:top;
}
#wrapper{
	width:720px;
	margin:40px auto 0;
}

#wrapper h1{
	color:#FFF;
	text-align:center;
	margin-bottom:20px;
}

#wrapper a{
	display:block;
	font-size:1.2em;
	padding-top:20px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}

#tabContainer {
	width:100%;
	padding:2%;
	background-color:#2e2e2e;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

.tabs{	

}
.tabpage{
	opacity: 0;
	position: relative;
}
.tabs > ul{
	font-size: 80%;

	list-style:none;
}

.tabs > ul > li{
	margin:0% 2% 0% 0%;
	padding:1%;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

.tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabscontent {
	width:90%;
height:90%;
overflow: scroll;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
}

.initial{
	position: relative;
	height: 200px !important;
	width: 300px !important;
	left: 200px !important;
	display: inline-block;
}

.initial1{

}

.initial2{

}

.initial3{

}

.initial4{

}

.initial5{

}

.initial6{

}
